# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
coverage.xml
report.xml
htmlcov/
.mypy_cache/
.ruff_cache/
.chroma/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
